@using FreeCourse.Web.Models.Identit;
@model List<GetCourseViewModel>
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
    List<UsersViewModel> users = TempData["userList"] as List<UsersViewModel>;
    //TempData.Keep();
}


<h2>Kurslar</h2>
<hr />

@if (Model.Any())

{

    @foreach (var item in Model)
    {
        count++;
        if (count == 1 || (count % 3 == 1))//satırda uc kurs göster kodu
        {
            @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4 mb-2' >")
        }
        <div class="col">
            <div class="card">
                <img src="@item.StockPictureUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    
                        @foreach (var items in users)
                        {
                            @if (item.UserId == items.Id)
                            {
                                <div class="badge bg-primary">Eğitmen : @items.UserName  </div>
                            }

                        }
                    
                    <div class="badge bg-primary">  Kategori : @item.Category.Name</div>
                    <p class="card-text">@item.ShortDescription</p>
                    <h4 class="text-primary">@item.Price TL</h4>

                    <div>
                        <a asp-controller="Home" asp-action="Detail" class="btn btn-success" asp-route-id="@item.Id">Detay</a>
                    </div>
                </div>
            </div>
        </div>

        if (count % 3 == 0)
        {
            @Html.Raw("</div>")
        }

    }
}
